#-------------------------------------------------
# Ignore all .terraform folders and its contents
#-------------------------------------------------
*.terraform\
*.terraform/
*.terraform\*
*.terraform/*
*terraform.tfstate*
